body {
  overflow-x: hidden;
  background-image: url("background.png");
  background-size: 100%;
  margin: 0px;
}

.top {
  text-align: center;
  margin: 20px;
}

#topmemu {
  text-align: center;
  margin: 0 auto;
  width: 1180px;
}

#topmemu a {
  display: inline-block;
  color: white;
  text-decoration-line: none;
  font-weight: bold;
}

#topmemu ul {
 background-color: black;
 list-style: none;
 overflow: hidden;
 padding-top: 20px;
 padding-bottom: 20px;
}

#topmemu li {
  display: inline;
  font-size: 17px;
  float: left;
  width: 20%;
}

.info {
    padding-top: 30px;
}

.background_box {
  text-align: center;
  position: relative; z-index: 1;

}

.prof_picture {
  position: relative; top: -340px; z-index: 2;
}

.prof_picture img {
  padding-right: 10px;
  padding-bottom: 10px;
}

.explain {
  text-align: center;
  margin: 0px;
  padding-bottom: 200px;
}
