body {
  overflow-x: hidden; <!-- 오른쪽 여백삭제-->
  background-image: url("background.png");
  background-size: 100%;
  margin: 0px;
}

.top {
  text-align: center;
  margin: 20px;
}

#logo {
}

#topmemu {

}


a {
  color: white;
  text-decoration-line: none;
  font-weight: bold;

}

ul {
 background-color: black;
 list-style: none;
 overflow: hidden;
 margin: 0 auto;
 padding-top: 20px;
 padding-bottom: 20px;
}

li {
  font-size: 17px;
  float: left;
  width: 20%;
}

.middle {
  text-align: center;
}

#autoslide {
  position: relative; z-index: 1;
}

#login {
  position: relative; left:10px; top: -100px; z-index: 2;

}
