<style>
  body {
    margin: 0;
  }
  a {
    color: black;
    text-decoration: none;
  }
  h1 {
    font-size: 48px;
    text-align: center;
    margin: 0;
    padding-top: 12px;
  }
  #logo h2 {
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding-bottom: 32px;
    border-bottom: 2px solid gray;
  }
  ol {
    border-right: 2px solid gray;
    width: 150px;
    margin: 0;
    padding: 10px
  }
  #grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding-left: 30px
  }
</style>
